<template>
  <div class="home">
    <h1>HOMEPAGE</h1>

    <v-flex xs12 sm4>
      <v-overflow-btn :items="tipoDeGanados" item-text="tipo" label="Tipo de Ganado"></v-overflow-btn>
    </v-flex>
  </div>
</template>

<script>
import axios from "axios";

export default {
  components: {},
  mounted() {
    this.getTipoGanado();
  },
  data() {
    return {
      tipoDeGanados: [],
      dropdown_font: ["Arial", "Calibri", "Courier", "Verdana"]
    };
  },
  methods: {
    getTipoGanado() {
      axios
        .get("http://localhost:3000/ganado")
        .then(res => {
          this.tipoDeGanados = res.data;
        })
        .catch(err => console.log(err));
    }
  }
};
</script>
